.logins{
    background: linear-gradient(90deg, rgba(49,43,85,1) 0%, rgba(74,156,161,1) 39%);
    background-size: cover;
    color: #000;
}
 .logins .card{
    margin: 22% 0;
    box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.75);
    border-radius: 15px;
}
.login-form{
    padding: 0px 40px;
}
.login-button{
   background: rgb(194, 194, 207);
   border: 2px;
   border-radius: 10px;
   padding: 7px;
  }